@font-face{
    font-family: "Gotham-Bold";
    src: url("../fonts/Gotham/Gotham-Bold.otf");
}

@font-face{
    font-family: "Gotham-Medium";
    src: url("../fonts/Gotham/Gotham-Medium.otf");
}

@font-face{
    font-family: "Gotham-Book";
    src: url("../fonts/Gotham/Gotham-Book.otf");
}

body{
	position: relative;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 2160px;
	height: 3840px;
}

img#background-img{
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 2160px;
	height: 3840px;
}

#logo{
	position: absolute;
	top:0;
	left:0;
	margin:0;
	padding:0;
	
}

#content{
	position: absolute;
	top: 1011px;
	left: 162px;
	width: 1880px;
	height: 1368px;
	margin: 0;
	padding: 0;
	overflow: scroll;
}
/*
#menu{
	position: absolute;
	top: 2832px;
	left: 162px;
	width: 1880px;
	height: 480px;
	margin: 0;
	padding: 0;
}
*/

#directory-button{
	position: absolute;
	top: 2772px;
	left: 162px;
	width: 461px;
	height: 518px;
	margin: 0;
	padding: 0;
}

#leasing-button{
	position: absolute;
	top: 2772px;
	left: 627px;
	width: 461px;
	height: 518px;
	margin: 0;
	padding: 0;
}

#management-button{
	position: absolute;
	top: 2772px;
	left: 1094px;
	width: 461px;
	height: 518px;
	margin: 0;
	padding: 0;
}

#history-button{
	position: absolute;
	top: 2772px;
	left: 1560px;
	width: 461px;
	height: 518px;
	margin: 0;
	padding: 0;
}
.menu-button-blue{
	transition: all .2s ease-in-out;
	position: absolute;
	top: 2832px;
	width: 456px;
	height: 440px;
	border: 0px;
	background-image: url('../img/blue.png');
	
	margin: 2px;
	padding: 0px;
	float: left;
	display: table;
	font-family: 'Gotham-Bold';
	font-size: 53px;
}

.menu-button-white{
	transition: all .2s ease-in-out;
	width: 456px;
	top: 2700px;
	height: 500px;
	border: 0px;
	background-image: url('../img/gradient.png');
	background-color: transparent;
	margin: 2px;
	padding: 0px;
	float: left;
	display: table;
	font-family: 'Gotham-Bold';
	font-size: 53px;
}

.menu-button-book-font{
	font-family: 'Gotham-Book';
}

/*
.triangle{
	transition:all .2s ease-in-out;
	border-color: transparent transparent white transparent;
}


.triangle:after, .menu-button:before {
	transition: all .2s ease-in-out;   
        bottom: 459px;
        border: solid transparent;
        content: " ";
        height: 0px;
        width: 0px;
        position: absolute;
        pointer-events: none;
	margin-left: -454px;
}

.triangle:after {
	border-color: transparent transparent white transparent;
	transition: all .2s ease-in-out;   
	border-width: 0px 230px 100px 230px;
	height: 0px;
	width: 0px;
}

.triangle-transparent:after {
	border-color: transparent transparent transparent transparent;
	transition: all .2s ease-in-out;   
	border-width: 0px 230px 100px 230px;
	height: 0px;
	width: 0px;
}
*/

.button-text{
	display: table-cell;
	vertical-align: middle; 
	text-align: center; 
}

.button-text p{
	margin: 0px;
}


#scroller{
	position: absolute;
	top: 2568px;
	left: 162px;
	width: 1880px;
	text-align:center;	
}

.scroller-button{
	width: 150px;
	height: 150px;
	margin: 0px;
	padding: 0px;
	display: inline-block;
}

#directory-table{
	width: 1880px;
	border-spacing: 0px;
}

#directory-table tr{
	height: 130px;
	border: 0px;
}

#directory-table td{
	font-family: 'Gotham-Medium';
	font-size: 52px;
	padding: 40px;
}

#directory-table tr:nth-child(even){
	color: #3d5e8d;
}

#directory-table tr:nth-child(odd){
	color: #7d96bb;
	background-color: rgba(61, 94, 141, 0.5 );
}

#directory-table tr .number{
	text-align: left;
}

.info{
	padding: 40px;
}

#leasing-table{
	width: 1880px;
	border-collapse:separate; 
	border-spacing:20px;
}

#leasing-table tr{
	height: 130px;
	padding: 20px;
	margin: 20px;
	font-family: 'Gotham-Medium';
	line-height: 55px;
	color: #7d96bb;
	background-color: rgba(61, 94, 141, 0.5 );
}


#management-table{
	width: 1880px;
}

#management-table tr{
	height: 130px;
	padding: 20px;
	margin: 20px;
	font-family: 'Gotham-Medium';
	line-height: 55px;
	color: #7d96bb;
	background-color: rgba(61, 94, 141, 0.5 );
}

#history{
	width: 1830px;
	font-family: 'Gotham-Medium';
	font-size: 38px;
	color: #7d96bb;
}

p{
	margin: 0px;
	line-height: 55px;
}

p.title{
	font-family: "Gotham-Bold";
	color: #FFFFFF;
	font-size: 80px;
}

p.details{
	font-family: "Gotham-Medium";
	font-size: 60px;
}

p.number{
	font-family: "Gotham-Medium";
	font-size: 80px;
}

p#history-number{
	font-size: 134px;
}

.img-left{
	margin: 40px;
	margin-top: 0px;
	float: left;
}

.img-right{
	margin: 40px;
	margin-top: 0px;
	float: right;
}

#content{
	scrollbar-face-color: #367CD2;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-darkshadow-color: #000000;
	scrollbar-track-color: #283d5d;
	scrollbar-arrow-color: #283d5d;
	overflow-x: hidden;
}

/* Let's get this party started */
#content::-webkit-scrollbar {
    width: 50px;
}
 
/* Track */
#content::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #253957;
}

#content::-webkit-scrollbar-corner{
	background: transparent;
}
 
/* Handle */
#content::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #3d5e8d; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
