<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>

<img id="background-img" src="{{ url_for('static', filename='img/background.png') }}">
<img id="logo" src="{{ url_for('static', filename='img/top_logo.png') }}" >

<body>
	<div id="content">
		<div id="directory">
		<table id="directory-table">
    			{% for tenant in tenants %}
				<tr>
					<td class="name">{{ tenant.name }}</td>
					<td class="number">{{ tenant.number|safe }}</td>
				</tr>
			{% endfor %}	
    		</table>
	</div>
	<div id="leasing">
			<table id="leasing-table">
    			<tr>
				<td class="info">
				<p class="title">OFFICE LEASING</p>
				<br>
				<br>
				<p class="details">ADAM RAPPAPORT - arappaport@thorequities.com</p>
				<br>
				<p class="number">(212) 432-3030</p>
				</td>
			</tr>
			<tr>
				<td class="info">
				<p class="title">RETAIL LEASING</p>
				<br>
				<br>
				<p class="details">ALEXANDRA FRANGOS - afrangos@thorequities.com</p>
				<br>
				<p class="number">(212) 529-7424</p>
				</td>
			</tr>
			</table>
	</div>
	
	<div id="management">
			<table id="management-table">
    			<tr>
				<td class="info">
				<p class="title">MANAGEMENT</p>
				<br>
				<br>
				<p class="details">COGSWELL + SIERRA MANAGEMENT CALL CENTER</p>
				<br>
				<p class="number">(212) 776-1201</p>
				</td>
			</tr>
			</table>
	</div>
	
	<div id="history">
	<div class="img-left">
		<img src="{{ url_for('static', filename='img/01ASTOR.jpg') }}">	
	</div>
	<p>
	Built on land acquired in 1799 by John Jacob Astor, America's first millionaire, 875 Washington Street was commissioned in 1887 by Astor's grandson William Backhouse Astor, Jr. By that time, the district had become the Gansevoort Market, one of New York's most bustling commercial districts. Architect John W. Cole designed a suitably monumental Queen Anne market building for the double-long site at 875 Washington, featuring cast iron storefronts, metal canopies, large windows and handsome brickwork. Cole's work in the area included two other buildings for the Astor heirs, both still standing, but 875 Washington was the largest and grandest of the three.
	</p>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="img-right">
		<img src="{{ url_for('static', filename='img/02MEAT.jpg') }}">	
	</div>
	<p>
	A major address of the day, 875 Washington Street housed numerous leading produce merchants, some of whom maintained their location here for decades. From the 1920s onwards, the primary tenants were meatpackers, whose rise to predominance in the market gave the area its current name, the Meatpacking District.
	</p>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="img-left">
		<img src="{{ url_for('static', filename='img/03OLD875.jpg') }}">	
	</div>
	<p>
	As shipping and storage trends changed, the area went into a slow decline. 875 Washington Street lost its cornice, but maintained numerous other original features. Meatpackers remained active in the area, but the district gradually became associated with cutting-edge and alternative nightlife.
	</p>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="img-right">
		<img src="{{ url_for('static', filename='img/04JEFFERY.jpg') }}">	
	</div>
	<p>
	With the coming of retail trendsetter Jeffery in 1999, the neighborhood began its transition to a fashionable location. Today, design shops, galleries and couture houses line West 14<sup>th</sup> Street, West 13<sup>th</sup> Street and Washington Street, and private clubs such as Soho House and the Norwood Club overlook the newly renovated High Line Park, a masterpiece of urban renewal.
	</p>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="img-left">
		<img src="{{ url_for('static', filename='img/05875.jpg') }}">	
	</div>
	<p>
	As the Whitney Museum of American Art settles into its new home a block away, 875 Washington endures as the most imposing survivor of the old Gansevoort Market days. With its cornice restored and cast iron and canopies intact, its preeminence in the Meatpacking District is assured for the next chapter of New York's history.
	</p>

	</div>


	</div>

	<div id="scroller">

		<div class="scroller-button" id="up">
			<p><img src="{{ url_for('static', filename='img/uparrow.png') }}"></p>
		</div>

		<div class="scroller-button" id="down">
			<p><img src="{{ url_for('static', filename='img/downarrow.png') }}"></p>
		</div>
		
	</div>


		<div id="directory-button" class="menu-button-blue">
			<div class="button-text">
				<p>DIRECTORY</p>
			</div>
		</div>
		
		<div id="leasing-button" class="menu-button-blue">
			<div class="button-text">
				<p>LEASING</p>
			</div>
		</div>

		<div class="menu-button-blue" id="management-button">
			<div class="button-text">
				<p id="building-text">BUILDING<br>MANAGEMENT</p>
			</div>
		</div>
		
		<div class="menu-button-blue menu-button-book-font" id="history-button">
			<div class="button-text">
				<p id="history-text" style="font-size: 120px;">875</p>
				<p class="gotham-bold">HISTORY</p>
			</div>
		</div> 

</body>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>

