{% extends "layout.html" %}
{% block body %}
	{% if session.logged_in %}
		<p>Add a new tenant</a>
		<form action="{{ url_for('add_tenant') }}" method=post class=add-entry>
			<dl>
				<dt>Name:
				<dd><input type=text size=30 name=name>
				<dt>Number:
				<dd><input type=text size=30 name=number>
				<dd><input type=submit value=Add>
			</dl>
		</form>
	{% endif %}
		{% for tenant in tenants %}
			<h2>{{ tenant.name }}</h2>{{ tenant.number|safe }}
			<form action="{{ url_for('delete_tenant', id=tenant.id) }}" method=post>
				<input type=submit value=Delete>
			</form>
			<br>
		{% else %}
			<li><em>No tenants!</em>
		{% endfor %}
{% endblock %}
